@model SolveMe.Models.UserProfile

@{
    ViewBag.Title = "New task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>NewTask</h2>

<div class="container pull-left" style="width: 800px">
</div>
<div style=" height: 220px"></div>



