@model SolveMe.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <li>
            <label>New password</label>
            @Html.PasswordFor(m => m.NewPassword)
        </li>
        <li>
            <label>Confirm password</label>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>

        <input type="submit" class="btn-success" value="Set password" />
    </fieldset>
}
