@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="pull-left">@ViewBag.Title</h1>
        </div>
    </section>
}
